body {
    /* reset */
    margin: 0;
    padding: 0;

    color: #011C40;
    font: 1.4rem Verdana, Arial, Helvetica, sans-serif;
    background-color: #CCCCCC;
    text-align: justify;
}

a {
    color: #183873;
    text-decoration: none;
}

main {
    display: block;
    margin: 0 auto;
    width: 70%;
}

.header {
    background-color: #011C40;
    text-shadow: #000 0 2px;
}

.top-name {
    top: 50%;
    position: absolute;
    color: #FFF;
    font: 2.0rem Verdana, Arial, Helvetica, sans-serif;
}

.top {
    
    height: 100px;
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.top a {
    color: #CCCCCC;
    text-decoration: none;
}

.nav-menu {
    right: 0;
    top: 50%;
    position: absolute;
}

.footer {
    text-shadow: #000 0 2px;
    font: 1.2rem Verdana, Arial, Helvetica, sans-serif;
    margin-top: 100px;
    text-align: center;
    color: #FFF;
    background-color: #011C40;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer a {
    color: #CCCCCC;
    text-decoration: none;
}

.footer-text {
    top: 50%;
    position: relative;
    margin: 0 auto;
}

.posts {
    margin-top: 40px;
    margin-bottom: 40px;
}